<html>
    <body>
        {% include "bookflix/barra.html" %}
        <div>
            <div style="display: inline; margin: auto;">
                <img src="{{libro.image.url}}"  alt="fondo" > 
                <button style="position: absolute;margin-left: 10;">Agregar a futuras lecturas</button>
                <button onclick="enviarPost( 'publicacion')" style="position: absolute;margin-top: 40;margin-left:10;">Leer Libro</button> 
                <input id="submit" type="button" value="Click" href="/"/>           
            </div>  
                    <br>
                    <!-- -->
                    <br> 
                    <p> Autor(a): {{libro.author.name}}, {{libro.author.last_name}} </p>
                    <br>
                    <p> Género(s): {%for genero in libro.genders.all %}
                        | {{genero.name}} |

                    {% endfor %}
                    </p>
                    <br>
                    <p> Capítulo(s): {%for capitulo in libro.cant_chapter.all %}  {# acá sería otro tipo de for #}
                        | cap en proceso |                                          {# acá buscaría por el número de capítulo y lo traigo de la base #}

                    {% endfor %}
                    </p>
        </div>
        <p>-----------</p>
        <a href="/leer_libro/{{libro.author}}">{{libro.title}}</a>
    </body>
</html>