{% load static %}
<html>
    <body>
        {% include "bookflix/barra.html" %}
        <div>
            <div style="display: inline; margin: auto;">
                <img style="max-width:275px; max-height:275px;" src="{{libro.image.url}}"  alt="fondo" > 
                {# <button style="position: absolute;margin-left: 10;">Agregar a futuras lecturas</button> #}
                
                {# <button onclick="enviarPost( 'publicacion')" style="position: absolute;margin-top: 40;margin-left:10;">Leer Libro</button> #}
                 

                



                {# <embed style="width:300px; height:250px;" frameborder="0" id='pdf' src="{% static 'pdf/cmd.pdf' %}"></embed> #}                    {# % static 'pdf/cmd.pdf' % #}

                {# <input id="submit" type="button" value="Click" href="/"/>      #}     
            </div>  
                    <br>
                    <!-- -->
                    
                    <p> Autor(a): {{libro.author.name}}, {{libro.author.last_name}} </p>
                    
                    <p> Género(s): {%for genero in libro.genders.all %}
                        | {{genero.name}} |

                    {% endfor %}
                    </p>
                    <P>Puntuación: 4,5</P>
        </div>
        <object data="{{libro.pdf.url}}" type="application/x-pdf" title="{{libro.title}}" width="500" height="720">
            <a href="{{libro.pdf.url}}">Leer Libro</a> 
        </object>

    </body>
</html>