{% load static %}
<html>
    <body>
        {% include "bookflix/barra.html" %}

        
        <div style= "margin: auto; margin: 100px;">
            <div style="display: inline; margin: auto;">
                <h2>{{libro.title}}</h2>
                <img style="max-width:275px; max-height:275px;" src="{{libro.image.url}}"  alt="fondo" > 
                 
                {# <button style="position: absolute;margin-left: 10;">Agregar a futuras lecturas</button> #}
                
                {# <button onclick="enviarPost( 'publicacion')" style="position: absolute;margin-top: 40;margin-left:10;">Leer Libro</button> #}                 

                {# <embed style="width:300px; height:250px;" frameborder="0" id='pdf' src="{% static 'pdf/cmd.pdf' %}"></embed> #}                    {# % static 'pdf/cmd.pdf' % #}

                {# <input id="submit" type="button" value="Click" href="/"/>  #}         
            </div>  
                    
                    <!-- -->
                    <p> {{libro.description}} </p>
                    <p> Autor(a): {{libro.author.name}}, {{libro.author.last_name}} </p>
                    
                    <p> Género(s): {%for genero in libro.genders.all %}
                        | {{genero.name}} |

                    {% endfor %}
                    </p>
                    <P>Puntuación: {{puntaje}} pts</P>
                    

                    {% for capitulo in capitulos %}
                        <object data="{{capitulo.pdf.url}}" type="application/x-pdf" title="{{libro.title}}" width="500" height="720">
                            <a href="{{capitulo.pdf.url}}">{{capitulo.title}}</a> 
                        </object>
                        
                    {% endfor %}





            {#      <p> Capítulo(s): {%for capitulo in libro.cant_chapter.all %} #} {# acá sería otro tipo de for #}
            {#            | cap en proceso |        #}                                  {# acá buscaría por el número de capítulo y lo traigo de la base #}

            {#              {% endfor }    </p>     #}
            

        </div>

        <a href="/comentar/{{libro.isbn}}"> comentar</a>
        <br>
        <div> 


        </div>
        <p> Le has dado: {{puntajeMio.points}}pts</p>
        <p> 
            <a> Puntuar: </a> 
            <a href="/puntuar/{{libro.isbn}}/incompleto/1"> 1pt </a> <a>-</a>
            <a href="/puntuar/{{libro.isbn}}/incompleto/2"> 2pt </a> <a>-</a>
            <a href="/puntuar/{{libro.isbn}}/incompleto/3"> 3pt </a> <a>-</a>
            <a href="/puntuar/{{libro.isbn}}/incompleto/4"> 4pt </a> <a>-</a>
            <a href="/puntuar/{{libro.isbn}}/incompleto/5"> 5pt </a> <a></a>
            </p>



        {% for coment in comentarios%}
            
            {% if coment.is_a_spoiler %}
                <p> <a href="/verComentario/{{coment.id}}/libro"> ver</a> : El comentario no se muestra dado su grado de Spoilisidad, si quiere leerlo ente arriba</p>
            {%else %}

                <p> <a href="/verComentario/{{coment.id}}/libro"> ver</a>: {{coment.description |slice:":80" }} (...) </p>
                <a href="/denunciarComentario/{{coment.id}}/{{libro.isbn}}"> denunciar comentario</a>
            {% endif%}
        

        {%endfor%}

    </body>
</html>