<html>


    <body>
        
        {% include "bookflix/barra.html" %}

        <h1>
          Buenas  {{request.user.username}}! 
        </h1>
        <ul>
            <li style="text-emphasis-color: black;">Email: {{request.user.email}}  
                <a href="/cambiar_email">Cambiar Dirección de mail</a>
            </li>
            <li style="text-emphasis-color: black;">Plan: {{request.user.plan}}</li>
            <li style="text-emphasis-color: black;">Fecha de inicio de adesion al plan: {{request.user.date_start_plan}}</li>
            {% if request.user.plan != "free" %}
                <li style="text-emphasis-color: black;">Tiempo Pagado: {{request.user.time_pay}}  dias</li>
                <li style="text-emphasis-color: black;">Tiempo restante hasta vencimiento: {{request.user.tiempo_restante}}  dias</li>
            {% endif %}    
            <li style="text-emphasis-color: black; text-transform: capitalize;">Su número de tarjeta es: ***{{numeroPa}} </li>
       
        </ul>
        <a style="margin: 40px;" href="/borrar_cuenta">Borrar Cuenta</a>
        <p>
        <a href="/cambiar_tarjeta">Cambiar Tarjeta Bancaria</a>
    </p>
        <a href="/cambiar_contrasenia">Cambiar Contraseña</a>  

        <a href="/solicitar_cambio"> Cambiar Plan</a>

        <p> <a href="/vermiscomentarios"> ver mis comentarios </a></p>
        <p> <a href="/misvotos"> ver mis puntuaciones </a></p>
        <a href="/listar_favoritos">Listar mis libros favoritos</a>
    </body>



</html>
