<html>
    <body>
        {% include "bookflix/barra.html" %}
        <h1>Solicitudes</h1>

        <ul id="Solicitudes">

            {% if solicitudes %}
            {% for solicitud in solicitudes %}
               <li>
                    <div>
                        <p> {{solicitud.user}} </p>
                        <p>tipo de solicitud = {{solicitud.type_of_solicitud}}</p>
                         
                        </p>
                        <p>Plan = {{solicitud.type_of_plan}}</p>
                        <br> 
                    </div>
                </li>
                <a href="/aceptarSolicitud/{{solicitud.id}}/1"> | Aceptar   </a>
                <a>    | |    </a>
                <a href="/aceptarSolicitud/{{solicitud.id}}/2">   Denegar | </a>
            {% endfor %}
            {% else %}
            <p>No hay solicitudes de alta disponibles</p>
            {% endif %}
        
        </ul>

    </body>
</html>