<html>
    <body>
        {% include "bookflix/barra.html" %}
        <h1>Trailers</h1>

        <ul id="Solicitudes">

            {% if trailers %}
            {% for trailer in trailers %}
               <li style="display:inline-block; margin: 20px;">
                    <div>
                        <h3> {{trailer.title}} </h3>
                        <br>
                        {% if trailers.book == False %}
                            <p>hola!</p>
                            <a href="/leer_libro/{{trailer.libro_por_capitulo.isbn}}">{{trailer.libro_por_capitulo}}a</a> 
                        {% else %}
                            <p>libro entero</p>
                            <a href="/leer_libro/{{trailer.book.isbn}}">{{trailer.book}}</a>     
                        {% endif %}
                        <br>
                        <iframe   width="460" height="250" src={{trailer.video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                        <p> {{trailer.description}}</p>
                    </div>
                    <br>
                </li>
            {% endfor %}
            {% else %}
            <p>No hay solicitudes de alta disponibles</p>
            {% endif %}
        
        </ul>

    </body>
</html>